<div class="body vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-5" style="text-transform: uppercase;">Đăng nhập trang quản lý</h4>
                                    <form class="login-form">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Tên đăng nhập</strong></label>
                                            <input type="text" name="username" class="form-control" placeholder="">
                                            <span id="check-username"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Mật khẩu</strong></label>
                                            <input type="password" name="password" class="form-control" placeholder="">
                                            <span id="check-password"></span>
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox ml-1">
                                                    <input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
                                                    <label class="custom-control-label" for="basic_checkbox_1">Ghi nhớ tài khoản</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a href="#">Quên mật khẩu?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button id="btn-login" class="btn btn-primary btn-block">Đăng nhập</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Bạn chưa có tài khoản? <a class="text-primary" href="#">Liên hệ để tạo</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>