<div class="row">
    <div class="col-lg-4 mb-2">
        <div class="form-group">
            <label class="mb-2 font-weight-bold text-label">Nhóm tham số*</label>
            <div class="basic-form">
                <select name="" class="form-control default-select form-control-lg" formControlName="typeId">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
        </div>
    </div>
</div>
