<div class="app-per-customer-edit-container">
    <app-base-page-edit [width]="1000!" [class.modal-mode-container]="modalMode" [crud]="crud" [isModalMode]="modalMode"
        [main]="main" [title]="title" [formGroup]="form"
        (onInitialValueStringReady)="onFormReinit($event)"></app-base-page-edit>
    <ng-template #main>
        <form [formGroup]="form">
            <div class="row w-100">
                <div class="col-md-12">
                    <div class="mb-3 d-none">
                        <label for="id" class="mb-2 title-control-edit required">id</label>
                        <div class="form-group">
                            <input formControlName="id" id="id" type="text" class="form-control input-default ">
                            @if (form.get('id')?.hasError('required') && !form.get('id')?.untouched) {
                            <span class="input-error">
                                Bắt buộc chọn
                            </span>
                            }

                        </div>
                    </div>
                    <!-- <div class="col-md-12"> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="code" class="mb-2 title-control-edit required">Mã khách hàng</label>
                                <div class="form-group">
                                    <input formControlName="code" id="code" type="text"
                                        class="form-control input-default ">
                                    @if (form.get('code')?.hasError('required') && !form.get('code')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc chọn
                                    </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="mb-3">
                                <label for="typeId" class="mb-2 title-control-edit required">Nhóm tham số</label>
                                <div class="form-group">
                                    <div>
                                        <app-dropdown (valueChange)="onDropdownSelected($event, 'typeId')" 
                                                      [getByIdOptions]="form.get('typeId')?.value" 
                                                      [apiGetOptions]="getListTypeOptions$">
                                        </app-dropdown>
                                    </div>
                                </div>
                                @if (form.get('typeId')?.hasError('required') && !form.get('typeId')?.untouched) {
                                <span class="input-error">
                                    Bắt buộc chọn
                                </span>
                                }
                            </div> -->
                            <div class="mb-3">
                                <label for="customerClassId" class="mb-2 title-control-edit required">Nhóm khách
                                    hàng</label>
                                <div class="form-group">
                                    <app-dropdown (valueChange)="onDropdownSelected($event, 'customerClassId')"
                                        [getByIdOptions]="form.get('customerClassId')?.value"
                                        [apiGetOptions]="getCustomerOptions$">
                                    </app-dropdown>
                                </div>
                                @if (form.get('customerClassId')?.hasError('required') &&
                                !form.get('customerClassId')?.untouched) {
                                <span class="input-error">
                                    Bắt buộc chọn
                                </span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="fullName" class="mb-2 title-control-edit required">Họ tên khách hàng</label>
                                <div class="form-group">
                                    <input formControlName="fullName" id="fullName" type="text"
                                        class="form-control input-default">
                                    @if (form.get('fullName')?.hasError('required') && !form.get('fullName')?.untouched)
                                    {
                                    <span class="input-error">
                                        Bắt buộc chọn
                                    </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="birthDate" class="mb-2 title-control-edit required">Ngày sinh</label>
                                <div class="form-group">
                                    <input formControlName="birthDate" id="birthDate" type="date"
                                        class="form-control input-default">
                                    @if (form.get('birthDate')?.hasError('required') &&
                                    !form.get('birthDate')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc chọn
                                    </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="genderId" class="mb-2 title-control-edit required">Giới tính</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'genderId')"
                                    [getByIdOptions]="form.get('genderId')?.value" [apiGetOptions]="getGenderOptions$">
                                </app-dropdown>
                                @if (form.get('genderId')?.hasError('required') && !form.get('genderId')?.untouched) {
                                <span class="input-error">
                                    Bắt buộc chọn
                                </span>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="address" class="mb-2 title-control-edit">Địa chỉ</label>
                            <div class="form-group">
                                <input formControlName="address" id="address" type="text"
                                    class="form-control input-dèault">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="email" class="mb-2 title-control-edit">Email</label>
                            <div class="form-group">
                                <input formControlName="email" id="email" type="text" class="form-control input-dèault">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="nativeId" class="mb-2 title-control-edit">Tình thành</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'nativeId')"
                                    [getByIdOptions]="form.get('nativeId')?.value"
                                    [apiGetOptions]="getNativeIdOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="religionId" class="mb-2 title-control-edit">Tôn giáo</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'religionId')"
                                    [getByIdOptions]="form.get('religionId')?.value"
                                    [apiGetOptions]="getReligionOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="bankId" class="mb-2 title-control-edit">Ngân hàng</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'bankId')"
                                    [getByIdOptions]="form.get('bankId')?.value" [apiGetOptions]="getBankOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="bankBrach" class="mb-2 title-control-edit">Chi nhánh ngân hàng</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'bankBrach')"
                                    [getByIdOptions]="form.get('bankBrach')?.value"
                                    [apiGetOptions]="getBankBranchOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="bankNo" class="mb-2 title-control-edit">Số tài khoản</label>
                            <div class="form-group">
                                <input formControlName="bankNo" id="bankNo" type="number"
                                    class="form-control input-default">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="phoneNumber" class="mb-2 title-control-edit">Số điện thoại</label>
                            <div class="form-group">
                                <input formControlName="phoneNumber" id="phoneNumber" type="number"
                                    class="form-control input-default">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label for="" class="mb-2 title-control-edit">Ghi chú</label>
                            <div class="form-group">
                                <input formControlName="note" id="note" type="text" class="form-control input-default ">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </form>
    </ng-template>
</div>