<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{title}}</h4>
        <div>
            <div class="input-group search-area right d-lg-inline-flex d-none">
                <input type="search" class="form-control" placeholder="Find something here...">
                <div class="input-group-append">
                    <span [appTooltip]="'hi'" class="input-group-text">
                        <a href="javascript:void(0)">
                            <i class="flaticon-381-search-2"></i>
                        </a>
                    </span>
                </div>
            </div>
            @for (button of showButtons; track $index) {
                <div (click)="onHeaderButtonClick(button.code)" [appTooltip]='button.caption' class="btn btn-sm"><i [class]="button.iconClass"></i></div>
            }
            
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-md">
                <colgroup>
                    <col>
                    @for (col of visibleColumns; track col.field) {
                    @if (!!!col.hidden) {
                    <col>
                    }
                    }
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th style="width:50px;">
                            <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                <input (ngModelChange)="toggleCheckAll($event)" [(ngModel)]="headerCheckboxState" type="checkbox" class="custom-control-input" id="checkAll" required="">
                                <label class="custom-control-label" for="checkAll"></label>
                            </div>
                        </th>
                        @for (col of columns; track col.field) {
                        @if (!!!col.hidden) {
                        <th [ngStyle]="{
                                width: !!col.width?col.width+'px' :'80px'
                            }"><strong>{{col.caption}}</strong></th>
                        }
                        }
                        <th>&#160;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; let row_index=index">
                        <td>
                            <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                <input [(ngModel)]="checkingModel[row_index]" (ngModelChange)="onCheckingNgModelChange()" type="checkbox" class="custom-control-input" [id]="'customCheckBox'+ row_index"
                                    required="">
                                <label class="custom-control-label" [htmlFor]="'customCheckBox'+ row_index"></label>
                            </div>
                        </td>
                        <td *ngFor="let col of visibleColumns; let col_index = index">
                            {{row[col.field]}}
                        </td>
                        <td>
                            <div class="d-flex">
                                <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <nav>
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        Hiển thị từ <span id="start"></span> đến <span id="end"></span> trên <span
                            id="totalProduct">{{count}}</span> sản phẩm
                    </div>
                    <ul id="pagination" class="pagination pagination-circle" style="justify-content: end;">
                    </ul>
                </nav>
                <ul id="pagination" class="pagination pagination-circle" style="justify-content: end;">

                    <li id="previous" class="page-item page-indicator" style="cursor: not-allowed;">
                        <a class="page-link">
                            <i class="la la-angle-left"></i>
                        </a>
                    </li>
                    <li class="page-item active" style="cursor:not-allowed;">
                        <a class="page-link">1</a>
                    </li>

                    <li id="next" class="page-item page-indicator" style="cursor: not-allowed;">
                        <a class="page-link">
                            <i class="la la-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="totalPage" style="display: none;"></div>
        </div>
    </div>
</div>