<div class="app-product-edit-container">
    <app-base-page-edit [main]="main" [title]="title" [formGroup]="form"></app-base-page-edit>
    <ng-template #main>
        <form [formGroup]="form">
            <div class="row w-100">
                <div class="col-md-12">
                    <div class="mb-3 d-none">
                        <label for="id" class="mb-2 font-weight-bold required">id</label>
                        <div class="form-group">
                            <input formControlName="id" id="id" type="text" class="form-control input-default "
                                placeholder="Tên thể loại">
                                @if (form.get('coidde')?.hasError('required') && !form.get('id')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc chọn
                                    </span>
                                }
                               
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="mb-2 font-weight-bold required">Mã nhóm</label>
                        <div class="form-group">
                            <input formControlName="code" id="code" type="text" class="form-control input-default "
                                placeholder="Tên thể loại">
                                @if (form.get('code')?.hasError('required') && !form.get('code')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc chọn
                                    </span>
                                }
                               
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="mb-2 font-weight-bold required">Tên nhóm</label>
                        <div class="form-group">
                            <input formControlName="name" id="name" type="text" class="form-control input-default "
                                placeholder="Tên thể loại">
                                @if (form.get('name')?.hasError('required') && !form.get('name')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc chọn
                                    </span>
                                }
                               
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Ghi chú</label>
                        <div class="form-group">
                            <input formControlName="note" id="note" type="text" class="form-control input-default "
                                placeholder="Ghi chú">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>