<div class="app-sys-other-list-container">
    <app-base-page-list [left]="left" [title]="title" [columns]="columns" [buttons]="showButtons" [apiDefinition]="apiQueryList" ></app-base-page-list>
    <ng-template #left>
        <div class="card-body chat-wrapper p-0">
            <div class="chat-left-sidebar">
                <div class="d-flex chat-fix-search align-items-center">
                    <div class="input-group message-search-area">
                        <input type="text" class="form-control" placeholder="Search here..">
                        <div class="input-group-append">
                            <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body message-bx px-0 pt-3">
                    <div class="tab-content dz-scroll" id="message-bx">
                        <div class="tab-pane fade show active" >
                            <div class="chat-list-area active">
                                <div class="info-body">
                                    <div class="d-flex">
                                        <h4 class="text-black user-name mb-0 font-w300 fs-16" data-name="Harry Marten">Harry Marten</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>