<div class="app-gym-package-edit-container">
    <app-base-page-edit 
        [width]="1000" 
        [class.modal-mode-container]="modalMode" 
        [crud]="crud" 
        [isModalMode]="modalMode" 
        [main]="main" 
        [title]="title" 
        [formGroup]="form"
        (onInitialValueStringReady)="onFormReinit($event)"
    ></app-base-page-edit>
    <ng-template #main>
        <form [formGroup]="form">
            <div class="row w-100">
                <div class="col-md-12">
                    <div class="mb-3 d-none">
                        <label for="id" class="mb-2 font-weight-bold">id</label>
                        <div class="form-group">
                            <input formControlName="id" id="id" type="text" class="form-control input-default "
                                placeholder="id">
                        </div>
                    </div>
                    <div class="mb-3 d-none">
                        <label for="isActive" class="mb-2 font-weight-bold">isActive</label>
                        <div class="form-group">
                            <input formControlName="isActive" id="isActive" type="text" class="form-control input-default "
                                placeholder="isActive">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="mb-2 font-weight-bold required">Mã gói</label>
                        <div class="form-group">
                            <input formControlName="code" id="code" type="text" class="form-control input-default">
                                @if (form.get('code')?.hasError('required') && !form.get('code')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc nhập
                                    </span>
                                }
                               
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="money" class="mb-2 font-weight-bold required">Giá</label>
                        <div class="form-group">
                            <input formControlName="money" id="money" type="number" class="form-control input-default ">
                                @if (form.get('money')?.hasError('required') && !form.get('money')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc nhập
                                    </span>
                                }
                               
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="period" class="mb-2 font-weight-bold required">Thời hạn</label>
                        <div class="form-group">
                            <input formControlName="period" id="period" type="number" class="form-control input-default ">
                                @if (form.get('period')?.hasError('required') && !form.get('period')?.untouched) {
                                    <span class="input-error">
                                        Bắt buộc nhập
                                    </span>
                                }
                            <!-- <base-customer-search></base-customer-search> -->
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="shiftId" class="mb-2 font-weight-bold required">Ca tập</label>
                        <div class="form-group">
                            <div>
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'shiftId')" 
                                              [getByIdOptions]="form.get('shiftId')?.value" 
                                              [apiGetOptions]="getListShiftOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                        @if (form.get('shiftId')?.hasError('required') && !form.get('shiftId')?.untouched) {
                            <span class="input-error">
                                Bắt buộc chọn
                            </span>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="description" class="mb-2 font-weight-bold">Mô tả</label>
                        <div class="form-group">
                            <input formControlName="description" id="description" type="text" class="form-control input-default ">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>