<div class="app-card-issuance-edit-container">
    <app-base-page-edit [width]="1000!" [class.modal-mode-container]="modalMode" [crud]="crud" [isModalMode]="modalMode"
        [main]="main" [title]="title" [formGroup]="form"
        (onInitialValueStringReady)="onFormReinit($event)"></app-base-page-edit>
    <ng-template #main>
        <form [formGroup]="form">
            <div class="row w-100">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="code" class="mb-2 title-control-edit required">Số chứng từ</label>
                                <div class="form-group">
                                    <input formControlName="code" id="code" type="text"
                                        placeholder="Số chứng từ sẽ được tự phát sinh"
                                        class="form-control input-default " readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="customerClassId" class="mb-2 title-control-edit required">Ngày chứng
                                    từ</label>
                                <div class="form-group">
                                    <input formControlName="code" id="code" type="date"
                                        class="form-control input-default ">
                                </div>
                                @if (form.get('customerClassId')?.hasError('required') &&
                                !form.get('customerClassId')?.untouched) {
                                <span class="input-error">
                                    Bắt buộc chọn
                                </span>
                                }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="customerCode" class="mb-2 title-control-edit required">Mã khách hàng</label>
                                <div>
                                    <base-customer-control
                                        (selectedDataChange)="selectedDataChange($event, 'customerName','fullName')"
                                        (selectedIdChange)="onDropdownSelected($event, 'employeeId')"
                                        [getByIdOptions]="form.get('employeeId')?.value" [showFrom]="'code'" [top]="-8"
                                        [isModalMode]="false" [left]="-235">
                                    </base-customer-control>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="customerName" class="mb-2 title-control-edit">Tên khách hàng</label>
                                <div class="form-group">
                                    <input formControlName="customerName" id="customerName" type="text"
                                        class="form-control input-default " readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="cardId" class="mb-2 title-control-edit required">Thẻ tập</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'cardId')"
                                    [getByIdOptions]="form.get('cardId')?.value" [apiGetOptions]="getGenderOptions$">
                                </app-dropdown>
                                @if (form.get('cardId')?.hasError('required') && !form.get('cardId')?.untouched) {
                                <span class="input-error">
                                    Bắt buộc chọn
                                </span>
                                }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="practiceTime" class="mb-2 title-control-edit">Khung giờ tập</label>
                            <div class="form-group">
                                <input formControlName="practiceTime" id="practiceTime" type="text"
                                    class="form-control input-default" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="startDate" class="mb-2 title-control-edit">Ngày bắt đầu</label>
                                <div class="form-group">
                                    <input formControlName="startDate" id="startDate" type="date"
                                        class="form-control input-default" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="endDate" class="mb-2 title-control-edit">Ngày kết thúc</label>
                                <div class="form-group">
                                    <input formControlName="endDate" id="endDate" type="date"
                                        class="form-control input-default" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="hourCard" class="mb-2 title-control-edit">Số giờ tập của thẻ</label>
                            <div class="form-group">
                                <input formControlName="hourCard" id="hourCard" type="number"
                                    class="form-control input-dèault" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="hourCardBonus" class="mb-2 title-control-edit">Số giờ tặng thêm</label>
                            <div class="form-group">
                                <input formControlName="hourCardBonus" id="hourCardBonus" type="number"
                                    class="form-control input-default">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="totalHourCard" class="mb-2 title-control-edit">Tổng số giờ</label>
                            <div class="form-group">
                                <input formControlName="totalHourCard" id="totalHourCard" type="number"
                                    class="form-control input-default" readonly>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center">
                            <div class="form-group pe-none">
                                <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                    <input type="checkbox" formControlName="wardrobe" readonly
                                        class="custom-control-input form-control" id="wardrobe">
                                    <label class="custom-control-label" for="wardrobe"></label>
                                </div>
                            </div>
                            <label class="mb-2 title-control-edit">Có tủ đồ</label>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="lockerId" class="mb-2 title-control-edit">Tủ đồ</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'lockerId')"
                                    [getByIdOptions]="form.get('lockerId')?.value" [apiGetOptions]="getGenderOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="mb-2 title-control-edit">Email</label>
                            <div class="form-group">
                                <input formControlName="email" id="email" type="text"
                                    class="form-control input-default ">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="perPtId" class="mb-2 title-control-edit">Huấn luyện viên</label>
                            <div class="form-group">
                                <base-employee-control (selectedIdChange)="onDropdownSelected($event, 'perPtId')"
                                    [getByIdOptions]="form.get('perPtId')?.value" [top]="-30" [isModalMode]="false"
                                    [left]="-15">
                                </base-employee-control>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="statusId" class="mb-2 title-control-edit">Trạng thái khách hàng</label>
                            <div class="form-group">
                                <app-dropdown (valueChange)="onDropdownSelected($event, 'statusId')"
                                    [getByIdOptions]="form.get('statusId')?.value"
                                    [apiGetOptions]="geCusStatusOptions$">
                                </app-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 title-control-edit">Ghi chú</label>
                            <div class="form-group">
                                <textarea formControlName="note" id="note" type="text"
                                    class="form-control input-default "></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </form>
    </ng-template>
</div>