<ul class="metismenu" id="menu">
    <li class="nav-label first">Menu chính</li>
    <li>
        <a class="ai-icon" href="/Admin/Dashboard/Index" aria-expanded="false">
            <i class="flaticon-144-layout"></i>
            <span class="nav-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-label">Thành phần</li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-165-menu"></i>
            <span class="nav-text">Danh mục</span>
        </a>
        <ul aria-expanded="false">
            <li><a [routerLink]="['/cms/list/goods-equipment']">Danh sách thiết bị</a></li>
            <li><a [routerLink]="['/cms/list/goods-equipment-fix']">Danh sách bảo trì/sửa chữa thiết bị</a></li>
            <li><a [routerLink]="['/cms/list/goods-list']">Danh sách hàng hóa</a></li>
            <li><a href="">Danh sách sản phẩm, NVL</a></li>
            <li><a [routerLink]="['/cms/list/gym-shift']">Danh sách Ca tập</a></li>
            <li><a [routerLink]="['/cms/list/gym-package']">Danh sách Gói cước</a></li>
            <li><a href="">Danh sách Locker</a></li>
            <li><a [routerLink]="['/cms/profile/employees']">Danh sách nhân viên</a></li>
            <li><a [routerLink]="['/cms/list/sys-user']">Danh sách tài khoản</a></li>
            <li><a [routerLink]="['/cms/system/sys-other-list']">Tham số hệ thống</a></li>
            <li><a [routerLink]="['/cms/system/sys-other-list-type']">Nhóm tham số hệ thống</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-user-3"></i>
            <span class="nav-text">Quản lý hội viên</span>
        </a>
        <ul aria-expanded="false">
            <li><a [routerLink]="['/cms/profile/per-customer']">Thông tin hội viên</a></li>
            <li><a href="">Thông tin giao dịch</a></li>
            <li><a href="">Lịch sử hội viên</a></li>
            <li><a href="">Ngày sinh nhật khách</a></li>
            <li><a href="">Customer Not Goto Gym</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-id-card"></i>
            <span class="nav-text">Quản lý thẻ</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Check In bằng thẻ</a></li>
            <li><a [routerLink]="['/cms/list/card-check-in']">Danh sách thẻ Check in</a></li>
            <li><a href="">Cấp thẻ</a></li>
            <li><a href="">Tình trạng Locker</a></li>
            <li><a href="">Danh sách Locker bị khóa</a></li>
            <li><a href="">Thuê tủ</a></li>
            <li><a [routerLink]="['/cms/list/card-info']">Danh sách thẻ</a></li>
            <li><a href="">Chuyển nhượng thẻ</a></li>
            <li><a href="">New Card</a></li>
            <li><a href="">Renew Card</a></li>
            <li><a href="">Nâng cấp thẻ</a></li>
            <li><a href="">Đóng băng thẻ</a></li>
            <li><a href="">Báo cáo thẻ hết hạn</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-092-money"></i>
            <span class="nav-text">Thu ngân</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Hóa đơn bán lẻ</a></li>
            <li><a href="">Danh sách hóa đơn bán lẻ</a></li>
            <li><a href="">Phiếu giảm giá</a></li>
            <li><a href="">Danh sách phiếu giảm giá</a></li>
            <li><a href="">Thông tin giờ tập</a></li>
            <li><a href="">Cập nhật tỷ giá ngoại tệ</a></li>
            <li><a href="">Cập nhật giá bán</a></li>
            <li><a href="">Danh sách hóa đơn còn nợ</a></li>
            <li><a href="">Báo cáo thu ngân</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-notebook"></i>
            <span class="nav-text">Kế toán tổng hợp</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Phiếu thu</a></li>
            <li><a href="">Phiếu chi</a></li>
            <li><a href="">Cash Report</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-database"></i>
            <span class="nav-text">Công cụ</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Backup Database</a></li>
            <li><a href="">Restore Database</a></li>
        </ul>
    </li>

    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-print"></i>
            <span class="nav-text">Báo cáo</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách hóa đơn</a></li>
            <li><a href="">Hệ thống báo cáo</a></li>
        </ul>
    </li>
</ul>