<ul class="metismenu" id="menu">
    <li class="nav-label first">Menu chính</li>
    <li>
        <a class="ai-icon" href="/Admin/Dashboard/Index" aria-expanded="false">
            <i class="flaticon-144-layout"></i>
            <span class="nav-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-label">Thành phần</li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-165-menu"></i>
            <span class="nav-text">Demo</span>
        </a>
        <ul aria-expanded="false">
            <li><a [routerLink]="['/cms/product']">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a [routerLink]="['/cms/product/1']">Thêm mới</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-050-tag"></i>
            <span class="nav-text">Thương hiệu</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a href="">Create</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-092-money"></i>
            <span class="nav-text">Sản phẩm</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a href="">Thêm mới</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-091-shopping-cart"></i>
            <span class="nav-text">Hóa đơn</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-menu-2"></i>
            <span class="nav-text">Thể loại tin tức</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a href="">Thêm mới</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-news"></i>
            <span class="nav-text">Tin tức</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a href="">Thêm mới</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-picture-2"></i>
            <span class="nav-text">Slide Show</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a href="">Thêm mới</a></li>
        </ul>
    </li>

    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-159-email"></i>
            <span class="nav-text">Liên hệ</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-menu-3"></i>
            <span class="nav-text">Vai trò</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow ai-icon" href="" aria-expanded="false">
            <i class="flaticon-381-user"></i>
            <span class="nav-text">Tài khoản</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="">Danh sách</a></li>
            <li><a href="">Thùng rác</a></li>
            <li><a href="">Thêm mới</a></li>
        </ul>
    </li>
</ul>