<div class="app-product-edit-container">
    <app-base-page-edit [main]="main" [title]="title" [formGroup]="form"></app-base-page-edit>
    <ng-template #main>
        <form [formGroup]="form">
            <div class="row w-100">
                <div class="col-md-9">
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Tên thể loại</label>
                        <div class="form-group">
                            <input formControlName="name" id="name" type="text" class="form-control input-default "
                                placeholder="Tên thể loại">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Ghi chú</label>
                        <div class="form-group">
                            <input formControlName="note" id="note" type="text" class="form-control input-default "
                                placeholder="Ghi chú">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Tiêu đề SEO</label>
                        <div class="form-group">
                            <input formControlName="metaTitle" id="metaTitle" type="text"
                                class="form-control input-default " placeholder="Tiêu đề SEO">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Từ khóa SEO</label>
                        <div class="form-group">
                            <input formControlName="metaKey" id="metaKey" type="text"
                                class="form-control input-default " placeholder="Từ khóa SEO">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Mô tả SEO</label>
                        <div class="form-group">
                            <input formControlName="metaDesc" id="metaDesc" type="text"
                                class="form-control input-default " placeholder="Mô tả SEO">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Thể loại cha</label>
                        <div id="cate" class="form-group">
                            <select id="idParent" class="form-control default-select" formControlName="idParent">
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="mb-2 font-weight-bold" for="">Ảnh đại diện</label>
                        <div class="">
                            <input id="image" class="control-label" name="" type="file" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Image"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Trạng thái hiển thị</label>
                        <div class="form-group">
                            <select id="active" class="form-control default-select" formControlName="active">
                                <option value="1">Hiển thị</option>
                                <option value="0">Không hiển thị</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>